html,
body {
    height: 100%;
    margin: 0;
}
.leaflet-container {
    height: 600px;
    margin: 0 auto;
    width: 920px;
    max-width: 100%;
    max-height: 100%;
    @media screen and (max-width: 768px) {
        width: 80%;
        height: 520px;
    }
}

.leaflet-popup {
    p {
        font-size: 0.8rem;
        color: #343434;
        font-family: "Rubik";
    }
}
