section {
  .bg-baru {
    background: #533e2b !important;
    border: 1px solid #533e2b !important;
    &.nav {
      &-tabs {
        border: 1px solid #533e2b !important;
        &::after {
          content: "";
          position: absolute;
          bottom: -4px;
          width: 100%;
          height: 4px;
          background: #533e2b;
        }
        li {
          background: #292018 !important;
          &.active {
            background: #533e2b !important;
            &::after {
              background: #ececec !important;
            }
          }
          a {
            color: #ececec !important;
            // color: #533e2b !important;
          }
        }
      }
    }
  }
  .tab-content {
    // background: #e6ffbc;
    background: white;
    padding: 8px;
    border: 1px solid green;
    // border-radius: 0 16px 16px 16px;
  }
  .nav {
    // margin: 0 auto;
    // text-align: center;
    // justify-content: center;
    &-tabs {
      width: fit-content;
      // position: relative;
      border: 1px solid green;
      border-bottom: 1px solid transparent;
      // border-bottom: 2px solid #e6ffbc;
      // border-bottom: 1px solid transparent !important;
      top: 0px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: -4px;
        width: 100%;
        height: 4px;
        // background: #e6ffbc;
        background: white;
      }
    }
    li {
      padding: 8px 16px;
      // margin-right: 8px;
      margin: 0 0;
      // border-bottom: 2px solid red;
      // border: 2px solid #e6ffbc;
      // border-radius: 16px;
      // background: #8d6f55;
      background: #e6ffbc;
      &.active {
        background: white;
        // border-bottom: 2px solid #e6ffbc;
        font-weight: bold;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          bottom: 0px;
          width: 70%;
          height: 2px;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 4;
          // background: red;
        }
      }
      a {
        color: green;
        @media screen and (max-width: 768px) {
          font-size: 0.75rem;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
.pembukaan {
  min-height: auto;
  z-index: 12;
  height: auto;

  .slider {
    display: block;
  }

  @media screen and (max-width: 768px) {
    // height: 35vh;
    // height: 60vh;
  }
}

.bantu-peta {
  position: relative;
  width: 100%;
  height: 420px;

  @media screen and (max-width: 768px) {
    height: 320px;
  }
}

.petaks {
  position: absolute;
  inset: 0;
  width: 100%;
  height: auto;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.cek-button {
  margin: 0 auto;
  display: block;
  text-align: center;
}
.wraps {
  display: block;
  margin: 0 auto;
  text-align: center;
  .judul {
    display: inline-block;
    margin-left: 4px;
    color: #fafafa;
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

#haha {
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    display: block;
    right: 0;
    bottom: 0;
    background-color: #533e2b;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  input:checked + .slider {
    background-color: #547844;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}

.wilayah {
  display: none;
}
.sumber {
  font-family: "Source Code Pro";
}
/* CSS */
.button-6 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: "Source Code Pro";
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.22;
  margin: 0;
  min-height: 1.2rem;
  padding: calc(0.5rem - 1px) calc(0.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;

  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.legendax {
  display: block;
  margin: 0 auto;
  text-align: center;
  .allx {
    display: inline-block;
    margin: 0 8px;
  }
  .circlex {
    display: inline-block;
    width: 20px;
    vertical-align: middle;
    background: #96654a;
    height: 20px;
    border-radius: 50%;
    &.cokelatx {
      background: #eb9e76;
    }
  }
  .ml-1 {
    font-size: 12px;
  }
}

.image-bawah {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 420px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
