.penutup {
    min-height: auto;
    // background: url("../img/bgbg_daun.png");
    // background-size: cover;
    // background-attachment: fixed;
    &::after {
        // content: "";
        // position: absolute;
        // inset: 0;
        // z-index: -1;
        // width: 100%;
        // height: 100%;
        // background: linear-gradient(to top, #ffffe2, rgba(#ffffe2, 0.4), rgba(#ffffe2, 1));
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        transform: translate(0, -50%);
        width: 0;
        height: 0;
        left: 50%;
        z-index: 5;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        @media screen and (max-width: 768px) {
            left: 45%;
        }
        border-top: 40px solid #292018 !important;
    }
    // padding: 0;
    .allv {
        margin-bottom: 8px;
        .jobs {
            // font-size: 1rem;
            color: #4a4a4a;
            font-size: 14px;
            margin-bottom: 0;
            font-family: "Source Code Pro";
        }
        .name {
            font-weight: bold;
        }
    }
}
