.peta {
    z-index: 12;
    // background: linear-gradient(to top, #ffffe2, white);
    &__image {
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .image {
        width: 100%;
        height: auto;
        // padding: 16px;
        margin: 0 auto 16px;
        // border: 5px solid green;
        // background: #201003;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .leaflet-layer,
    .leaflet-control-zoom-in,
    .leaflet-control-zoom-out,
    .leaflet-control-attribution {
        filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
    }
    .leaflet-popup p {
        font-size: 90% !important;
    }
    .leaflet-container {
        height: 65vh;
        margin: 0 auto;
        border: 10px solid #0b262d;
        position: relative;
        z-index: 18;
        width: 65%;
        max-width: 100%;
        max-height: 100%;
        h3 {
            font-family: "Rubik";
            font-size: 1.3rem;
            @media screen and (max-width: 768px) {
                font-size: 1.2rem;
            }
        }
        @media screen and (max-width: 768px) {
            width: 80%;
            height: 420px;
        }
    }
    .color-white {
        color: white;
    }
    .box-angka {
        background: #718e03;
        width: fit-content;
        // margin: 0 auto;
        display: inline-block;
        padding: 8px;
        border-radius: 8px;
        h3 {
            font-weight: bold;
            color: white;
            margin-bottom: 0;
            @media screen and (max-width: 768px) {
                font-size: 1.5rem;
            }
        }
    }
    .ket {
        display: inline-block;
        margin: 0 8px;
    }
    .bulat {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        vertical-align: middle;
        &-oren {
            background: #ff7800;
        }
        &-biru {
            background: #4a86e8;
        }
    }
    .namx {
        display: inline-block;
        font-size: 14px;
        color: #ddd;
        vertical-align: middle;
        margin-left: 1px;
    }
}

.data-pop {
    font-size: 11px;
    font-family: "Source Code Pro";
    color: black;
}

.peta-tanah-kita {
    background: #292018 !important;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        transform: translate(0, -50%);
        width: 0;
        height: 0;
        left: 50%;
        z-index: 5;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        @media screen and (max-width: 768px) {
            left: 45%;
        }
        border-top: 40px solid #ffffe2 !important;
    }
    .wrap-detikx {
        h3 {
            color: white !important;
        }
    }
}

.credit-quote {
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to left, transparent, #ccc);
    padding: 8px;
    width: 50%;
    border-radius: 0 16px 0 0;
    .nama {
        font-weight: bold;
        font-size: 1rem;
    }
    .jabatan {
        font-size: 0.9rem;
        line-height: 1rem;
    }
    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.imam {
    p {
        @media screen and (max-width: 768px) {
            font-size: 1.2rem !important;
        }
    }
}

.tanah-kita-cerita {
    background: linear-gradient(to top, #ecfcd6, #ffffe2);
    padding: 0;
    // background: linear-gradient(to top, #7fa648, #ebebcc);
    .sama-wrap {
        width: 700px;
        margin: 0 auto;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
    .mulai {
        width: 100%;
        overflow: hidden;
        position: relative;
        height: 490px;
        filter: drop-shadow(2px 3px 4px #bbb);
        @media screen and (max-width: 768px) {
            height: 235px;
        }
        &::before {
            content: "";
            position: absolute;
            top: 15%;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: auto;
            // border-radius: 8px 8px 0 0;
            // background: linear-gradient(45deg, #9bd936, #538026);
            background: linear-gradient(45deg, #8ebd41, #8cc157);
            // 9bd936
            // 538026
        }
    }
    .area {
        position: absolute;
        left: -8%;
        bottom: -12%;
        width: 50%;
        height: 50%;
        .jalan {
            width: 72%;
            height: auto;
            position: absolute;
            transform: rotate(-1deg);
            left: 15%;
            bottom: 0%;
        }
        @keyframes buldoser {
            0% {
                bottom: 15%;
                left: 18%;
                opacity: 0;
            }
            20% {
                bottom: 15%;
                left: 18%;
                opacity: 1;
            }
            50% {
                bottom: 45%;
                left: 48%;
                opacity: 1;
            }
            80% {
                bottom: 45%;
                left: 48%;
                opacity: 1;
            }
            90% {
                bottom: 45%;
                left: 48%;
                opacity: 0;
            }
            100% {
                bottom: 45%;
                left: 48%;
                opacity: 0;
            }
        }
        .buldoser {
            width: 35%;
            opacity: 0;
            position: absolute;
            animation: buldoser 5s linear infinite;
            filter: drop-shadow(1px 4px 1px rgba(54, 34, 29, 0.5));
            left: 18%;
            bottom: 15%;
            height: auto;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .gambar {
        width: 80%;
        position: absolute;
        top: 8%;
        /* inset: 0; */
        right: 4%;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .kartu {
        position: relative;
        // overflow-y: ;
        width: 100%;
        height: auto;
        // margin-bottom: 24px;
        .textx {
            // display: inline-block;
            // width: 50%;
            padding: 16px;
            // margin-left: 16px;
            // p {
            //     font-size: 1.2rem;
            // }
        }
    }
}
