.cek-gsap {
    // background: #292018;
    padding: 0;
    .contentv {
        position: relative;
        width: 100%;
        height: 100vh;
    }

    .sectionv {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        // border: 4px solid;
    }

    .section_1 {
        border-color: DarkOrange;
        background: url("../img/animasi-tanah-kitax-02.png");
        background-size: cover;
        background-position: center;
    }

    .section_2 {
        border-color: DodgerBlue;
        // animasi-tanah-kitax-04
        background: url("../img/animasi-tanah-kitax-04.png");
        background-size: cover;
        background-position: center;
    }

    .section_3 {
        border-color: GreenYellow;
        background: url("../img/animasi-tanah-kitax-03.png");
        background-size: cover;
        background-position: center;
    }

    .section_4 {
        border-color: Indigo;
    }

    p {
        background: linear-gradient(to right, #0e2d27, rgba(#0e2d27, 0.8));
        padding: 16px;
        color: #fafafa;
        border-radius: 16px;
        opacity: 0;
        @media screen and (max-width: 768px) {
            margin: 0 8px;
        }
    }
}

.two-tone {
    .width-all {
        width: 50%;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
    .daun {
        width: 100px;
        height: 100px;
        background: #293f40;
        position: relative;
        border-radius: 50% 0 50% 50%;
        @media screen and (max-width: 768px) {
            width: 100px;
            height: 100px;
        }
        h3 {
            color: white;
            text-align: center;
            position: absolute;
            left: 50%;
            top: 50%;
            font-size: 2.5rem;
            transform: translate(-50%, -50%);
            @media screen and (max-width: 768px) {
                font-size: 2rem;
            }
        }
    }
}

.help-inline {
    display: inline-block;
    margin: 0 8px;
}

.group-list {
    h3 {
        font-weight: bold;
    }

    ol {
        margin: 32px 0 16px;
        padding: 0;
    }

    li {
        display: inline-block;
        width: 48%;
        text-align: left;
        vertical-align: top;
        counter-increment: item;
        @media screen and (max-width: 768px) {
            margin-bottom: 16px;
        }
        .imgs {
            width: 50%;
            margin: 0 auto;
            text-align: center;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        h4 {
            font-size: 2rem;
        }
        .datax {
            padding-left: 52px;
        }
        @media screen and (max-width: 768px) {
            width: 100%;
        }
        &::before {
            background: #293f40;
            content: counter(item);
            border-radius: 50%;
            color: #fff;
            padding: 4px 0;
            width: 42px;
            height: 42px;
            font-weight: bold;
            text-align: center;
            margin-right: 8px;
            font-size: 24px;
            float: left;
        }
    }

    .blocking-data {
        width: 100%;
        height: auto;
        position: relative;
        padding: 16px;
        font-size: 14px;
        &::after {
            border-radius: 8px;
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 65%;
            background: rgba(#293f40, 0.2);
        }
        .iconx {
            width: fit-content;
            height: 100px;
            margin: 0 auto;
            text-align: center;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}
